.label-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: #454D57;
    list-style: none;
    gap: 8px;
    margin: 0px;

}

.label-tab-icon-text {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    align-items:center;
    gap: 8px;
    margin: 0px;
}

.label-text {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-all; 
}

.bin-btn {
    margin: 0px;
    padding: 4px 4px;
    background: none;
    border: none;
    color: #454D57;  
    cursor: pointer;
}

.color-btn {
    margin: 0px;
    padding: 4px 4px;
    background: none;
    border: none;
    cursor: pointer;
}