.todolist-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 16px 4rem 4rem;  
}

@media all and (max-width: 900px) {
    .todolist-container {margin: 96px 40px 0px 40px;}
}