.todo-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    color: var(--main-text-color);
    background: var(--white-color);
    border-radius: 16px;
    list-style-type: none;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
}  


.task-name {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    flex-direction: row; 
    word-break: break-word;
}

.completed > .task > .task-name {
    text-decoration: line-through;
}

.btns {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 0.5rem;
    background: none;
    border: none;
    color: var(--main-text-color);
}

.task-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.label-dropdown {
    width: 200px;
}


.label-dropdown span {
    padding-left: 0.5rem;
    margin-right: auto;
    overflow: hidden;
}

.priority-dropdown {
    width: 6rem;
    gap: 0.5rem;
}

.period {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.input_date {
    border: 1px solid var(--input-border-color);
    border-radius: 0.5rem;
    color: var(--main-text-color);
    padding: 0.5rem;
}
