.todo-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 0.5rem 0;
    color: var(--main-text-color);
    background: var(--white-color);
    border-radius: 16px;
    list-style-type: none;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
}  


.task-name {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 1rem 1rem 0;
    flex-direction: row; 
    word-break: break-word;
}

.completed > .task > .task-name {
    text-decoration: line-through;
}

.btns {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 0.5rem;
    background: none;
    border: none;
    color: var(--main-text-color);
}

.btn:hover {
    background: var(--input-border-color)
}

.task-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}



.label-dropdown {
    width: 200px;
    border: none !important;
    background: var(--background-color) !important;
}


.label-dropdown span {
    padding-left: 0.5rem;
    margin-right: auto;
    overflow: hidden;
}

.priority, .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.priority-dropdown {
    border: none !important;
    background: var(--background-color) !important;
    width: 5rem;
}

.period {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.input_date {
    border: none;
    background: var(--background-color);
    border-radius: 0.5rem;
    color: var(--main-text-color);
    padding: 0.5rem;
    width: fit-content;
}

@media all and (max-width: 900px) {
    .btns {
        gap: 0.5rem;
    }
    .task-actions {
        flex-direction: column; 
        align-items: flex-start;
        font-size: 0.8rem;
        gap: 0.5rem;
    }
    .label-dropdown {
        font-size: 0.8rem;
    }
    .priority-dropdown {
        font-size: 0.8rem;
    }
}
